.titlebar {
  background-color: #1887fc;
  height: 50px;
  padding-left: 20px;
  line-height: 90px; }

.titlebarcontent {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  /* margin-left: 5px; } */ }

.titlebarback {
  text-align: left;
  margin-left: 20px;
  height: 60px;
  margin-top: -25px;
  font-weight: bold;
  color: #FFFFFF; }

.showRepairManagement {
  display: flex !important; }

.hideRepairManagement {
  display: none !important; }
