.weui-media-box:before{
  border-top: none !important;
  border-bottom: 1px solid #E5E5E5 !important;
}

.repair-header-image {
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

.repair-big-title{
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 16px;
  color: #474747;
}

.repair-small-title{
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 12px;
  color: #b8b8b8;
}

.repair-jiantou {
  width: 35px;
  height: 35px;
}

