.weui-btn {
  margin-bottom: 2px;
  font-size: 12px;
}
.weui-btn-area {
  margin-bottom: 2px !important;
}
.weui-btn-area {
  margin: 0px;
}
.weui-cell_access .weui-cell__ft::after {
  display: none;
}

.delete-order-btn {
  background-color: red !important;
}
.weui-label {
  font-size: 14px !important;
}