@charset "UTF-8";
.weui-btn {
  background-color: #1887fc !important;
  margin-bottom: 20px; }

.weui-cells:before {
  border-top: none !important; }

.weui-cells:after {
  border-bottom: none !important; }

.RepairBorder {
  border: 1px solid lightgrey;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px 4px 4px 4px; }

.weui-btn-area {
  margin-bottom: 40px !important; }

.weui-label {
  width: 100% !important;
  /*margin-left: 10px;*/
  /*margin-top: 10px;*/
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 16px;
  color: #1887fc; }

.weui-input {
  width: 90% !important;
  margin-left: 10px !important;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 14px !important; }

.weui-label-align-top {
  align-items: flex-start !important; }

.weui-cell_select-after .weui-select {
  padding-left: 10px !important; }

.weui-select {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 14px !important; }

.weui-textarea {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 14px !important;
  padding-left: 10px !important; }

.repair-header-wrapper {
  line-height: 2;
  height: 125px;
  background-color: #1887f7; }

.repair-header-wrapper-image {
  height: 100%;
  text-align: center;
  background-image: url(/images/header-1.svg);
  -moz-background-size: 100% 100%;
  background-size: 100% 100%; }

.repair-header {
  width: 100%;
  height: 100px;
  position: relative;
  top: 35%; }

.relative-header {
  width: 57px;
  height: 46px;
  position: relative;
  z-index: 10000000;
  top: -70px;
  left: 45%; }

.relative-header-hours {
  width: 90px;
  position: relative;
  z-index: 10000000; }

.relative-title {
  position: relative;
  z-index: 10000000;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Noto Sans CJK SC', Sathu, 'EucrosiaUPC', sans-serif !important;
  font-size: 14px !important;
  color: white; }

.titlebar {
  background-color: #1887fc;
  height: 50px;
  padding-left: 20px;
  line-height: 90px; }

.titlebarcontent {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold; }

.titlebarback {
  margin-left: 30px;
  height: 60px;
  margin-top: -25px;
  font-weight: bold;
  color: #FFFFFF; }

.weui-dialog__btn {
  color: #1887fc !important; }

.must-input-label {
  font-size: 12px;
  color: grey; }

.radioimage {
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  background-image: url("/images/yuiyn@2x.png");
  background-color: currentColor !important;
  width: 31px !important;
  height: 40px !important;
  margin: 40px 0px 0px 20px; }

.imagebutton {
  margin: 62px 0px 0px 20px;
  width: 20px; }

.videoimage {
  margin: 0px 0px 0px 0px;
  width: 24px; }

.savedradio {
  float: left;
  padding-left: 5px;
  font-size: 12px;
  width: 50px;
  border: 1px solid lightgrey;
  margin: 10px 0 10px 10px; }

.deleteradio {
  margin-top: 5px;
  margin-left: 0px;
  width: 20px;
  padding-top: 5px; }

.savedradiocontainer {
  margin-left: 2px; }
