@import url(../node_modules/@console/bluemix-components/consumables/css/bluemix-components.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei','Noto Sans CJK SC',Sathu,'EucrosiaUPC',sans-serif;
  color: #152935;
  background-color: #f5f7fa; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }
